.seller-auth {
  margin: auto;
  width: 400px;
  .header {
    text-align: center;
    margin: 20px auto;
    color: blueviolet;
    border-bottom: 2px solid aquamarine;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
  }
}
