nav {
  background-color: #dad0d0 !important;
  .navbar-toggler {
    padding: 4px;
    border: none;
    box-shadow: none;
  }
  #navbarSupportedContent {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    .nav-item {
      cursor: pointer;
    }
  }
  .search-content {
    input {
      border-radius: 5px 0 0 5px !important;
    }
    button {
      border-color: #b7a6a6 !important;
      border-radius: 0 5px 5px 0 !important;
      &:hover {
        background-color: var(--bs-btn-bg) !important;
      }
    }
  }
  .header-last-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .header-cart {
    font-size: 18px !important;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    position: relative;
    svg {
      width: 24px;
      margin: 0 auto;
    }
    .item-count {
      position: absolute;
      left: 6px;
      top: -8px;
      text-align: center;
      border-radius: 7px;
      width: 18px;
      height: 18px;
      background-color: #ff6161;
      border: 1px solid #fff;
      font-weight: 400;
      color: #f0f0f0;
      line-height: 16px;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 991px) {
  .header-last-item {
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .search-content {
    min-width: 500px;
  }
}

@media screen and (max-width: 991px) {
  .header-last-item {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .search-content {
    min-width: 300px;
  }
}
