nav {
  background-color: #dad0d0 !important;
  .search-content {
    min-width: 500px;
    input {
      border-radius: 5px 0 0 5px !important;
    }
    button {
      border-color: #b7a6a6 !important;
      border-radius: 0 5px 5px 0 !important;
      &:hover {
        background-color: var(--bs-btn-bg) !important;
      }
    }
  }
  .header-cart {
    font-size: 18px !important;
    svg {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }
}
