.seller-auth {
  margin: auto;
  width: 400px;
  .header {
    text-align: center;
    margin: 20px auto;
    color: blueviolet;
    border-bottom: 2px solid aquamarine;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
  }
  .btn {
    width: 100%;
  }
  .bottom-link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
  }
}
